[Unit]
Description=Telephony Service Indicator
PartOf=graphical-session.target
PartOf=ayatana-indicators.target
After=ayatana-indicators.target
Requires=ofono-setup.service
After=ofono-setup.service

[Service]
Type=dbus
ExecStart=/usr/bin/telephony-service-indicator
BusName=org.freedesktop.Telepathy.Client.TelephonyServiceIndicator
Restart=on-failure

# Allow phone call & message vibrations to bypass "Other vibrations" settings
Environment=HFD_USE_PRIVILEGED_INTERFACE=1

[Install]
WantedBy=ayatana-indicators.target
